
.edu-library-container {
  background-color: #f8f9fb;
  min-height: 100vh;
  padding-bottom: 80px;
}


.edu-header {
  background: linear-gradient(90deg, #ff8c00 0%, #ffb300 100%); 
  color: white;
  padding: 50px 5% 50px 5%;
  position: relative;
  overflow: hidden;
}

.edu-header h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}

.breadcrumb {
  font-size: 16px;
  display: flex;
  align-items: center;
}

.breadcrumb-link {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  font-weight: 500;
}

.breadcrumb-link:hover {
  text-decoration: underline;
}

.active-page {
  opacity: 0.7;
}

.header-decor {
  position: absolute;
  top: 20px;
  right: 0px;
  opacity: 0.5;
}


.stages-section {
  margin: 0 auto;
  padding: 0 80px;
  margin-top: 60px;
}

.section-titles {
  text-align: center;
  margin-bottom: 50px;
}

.section-titles h2 {
  font-size: 40px;
  font-weight: 700;
  color: #000;
  margin-bottom: 10px;
}

.section-titles p {
  font-size: 28px;
  color: #666;
}


.stages-grid {
  display: grid;
  
  grid-template-columns: repeat(3, 1fr); 
  gap: 30px;
}


.stage-card {
  background: white;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.05);
  text-align: center;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
}

.stage-card:hover {
  transform: translateY(-5px);
}

.stage-image-container {
  width: 100%;
  height: 180px;
  border-radius: 20px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee; 
  overflow: hidden;
}

.stage-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.stage-title {
  font-size: 32px;
  font-weight: 700;
  color: #1280FE; 
  margin-bottom: 15px;
}

.stage-desc {
  font-size: 22px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 30px;
  flex-grow: 1; 
  padding: 0 10px;
}


.lessons-btn {
  width: 100%;
  padding: 14px;
  background-color: #ff8c00; 
  color: white;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.3s;
}

.lessons-btn:hover {
  background-color: #e67e00;
}


@media (max-width: 992px) {
  .stages-grid {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 600px) {
  .stages-grid {
    grid-template-columns: 1fr; 
  }
  
  .edu-header {
    padding: 40px 20px;
  }
}